@import "../node_modules/bulma/bulma";
@import "~react-bulma-components/src/index.sass";


.is-vertical {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 40px;
    background-color: #e3e3e3;
    opacity: 0.9;
}


.activityEditor .field {
    width: 50%;
}

.activityContainer {
    margin-left: 2%;

    .subtitle {
        margin-left: -2%;
    }
}

.activityOptions {
    label {
        margin-left: 10px;
    }
}

.registerForm {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}